.feature_row {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 4em 0 1em 0;
    overflow: hidden;
}

.feature_row_highlight {
    background-color: $primary-color;
}
