/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $masthead-background-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  z-index: 20;
  height: 115px;

  &__inner-wrap {
    @include clearfix;
    background-color: $masthead-background-color;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: $sans-serif-narrow;
    height: 100%;

    @include breakpoint($x-large) {
      max-width: $max-width;
    }

    nav {
      background-color: $masthead-background-color;
      height: 100%;
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.site-logo img {
  height: 51px;
  max-height: 4rem;
}

.site-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  font-weight: bold;
  // z-index: 20;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
}

.masthead__menu {
  background-color: $masthead-background-color;
  float: left;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: 100%;
  clear: both;
  font-family: $sans-serif;
  font-size: $type-size-5;

  .site-nav {
    margin-left: 0;

    @include breakpoint($small) {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  background-color: $masthead-background-color;
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 2em;
    font-weight: 700;
  }
}
