/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size: 16 !default;

/* paragraph indention */
$paragraph-indent: false !default; // true, false (default)
$indent-var: 1.3em !default;

/* system typefaces */
$serif: "Roboto Slab", Times, serif !default;
$sans-serif: Arial, sans-serif !default;
$monospace: Monaco, Consolas, "Lucida Console", monospace !default;

/* sans serif typefaces */
$sans-serif-narrow: $sans-serif !default;
$helvetica: Helvetica, "Helvetica Neue", Arial, sans-serif !default;

/* serif typefaces */
$georgia: Georgia, serif !default;
$times: Times, serif !default;
$bodoni: "Bodoni MT", serif !default;
$calisto: "Calisto MT", serif !default;
$garamond: Garamond, serif !default;

$global-font-family: $sans-serif !default;
$header-font-family: $serif !default;
$caption-font-family: $serif !default;

/* type scale */
$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

/* headline scale */
$h-size-1: 1.563em !default; // ~25.008px
$h-size-2: 1.25em !default; // ~20px
$h-size-3: 1.125em !default; // ~18px
$h-size-4: 1.0625em !default; // ~17px
$h-size-5: 1.03125em !default; // ~16.5px
$h-size-6: 1em !default; // ~16px

/*
   Colors
   ========================================================================== */

$black: #000;
$white: #fff;
$wago_green: #6ec800;
$wago_anthracite: #1f2837;
$wago_anthracite_70: #1f2837;
$wago_anthracite_40: #626a73;
$wago_anthracite_15: #a5a8af;
$wago_lightgray: #eff0f1;
$wago_orange: #ff6f0f;
$wago_blue: #3c6ee1;

$dark-gray: $wago_anthracite;
$light-gray: $wago_lightgray;
$gray: $wago_anthracite_40;

$background-color: $white !default;
$code-background-color: $wago_lightgray !default;
$code-background-color-dark: $wago_anthracite_40 !default;
$text-color: $wago_anthracite !default;
$muted-text-color: $wago_anthracite_15 !default;
$border-color: $wago_lightgray !default;
$form-background-color: $wago_lightgray !default;
$footer-background-color: $white !default;

$primary-color: $wago_green !default;
$success-color: $wago_green !default;
$warning-color: $wago_orange !default;
$danger-color: $wago_orange !default;
$info-color: $wago_blue !default;
$focus-color: $wago_green !default;
$active-color: $wago_green !default;

.page__footer {
  color: $black !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/* YIQ color contrast */
$yiq-contrasted-dark-default: $dark-gray !default;
$yiq-contrasted-light-default: #fff !default;
$yiq-contrasted-threshold: 175 !default;
$yiq-debug: false !default;

/* brands */
$behance-color: #1769ff !default;
$bitbucket-color: #205081 !default;
$dribbble-color: #ea4c89 !default;
$facebook-color: #3b5998 !default;
$flickr-color: #ff0084 !default;
$foursquare-color: #0072b1 !default;
$github-color: #171516 !default;
$gitlab-color: #e24329 !default;
$instagram-color: #517fa4 !default;
$keybase-color: #ef7639 !default;
$lastfm-color: #d51007 !default;
$linkedin-color: #007bb6 !default;
$mastodon-color: #2b90d9 !default;
$pinterest-color: #cb2027 !default;
$reddit-color: #ff4500 !default;
$rss-color: #fa9b39 !default;
$soundcloud-color: #ff3300 !default;
$stackoverflow-color: #fe7a15 !default;
$tumblr-color: #32506d !default;
$twitter-color: #55acee !default;
$vimeo-color: #1ab7ea !default;
$vine-color: #00bf8f !default;
$youtube-color: #bb0000 !default;
$xing-color: #006567 !default;

/* links */
$link-color: $wago_green !default;
$link-color-hover: $wago_anthracite !default;
$link-color-visited: $wago_green !default;
$masthead-background-color: $wago_anthracite;
$masthead-link-color: $white !default;
$masthead-link-color-hover: $wago_green !default;
$navicon-link-color-hover: $white !default;

/* notices */
$notice-background-mix: 80% !default;
$code-notice-background-mix: 90% !default;

/* syntax highlighting (base16) */
$base00: #263238 !default;
$base01: #2e3c43 !default;
$base02: #314549 !default;
$base03: #546e7a !default;
$base04: #b2ccd6 !default;
$base05: #eeffff !default;
$base06: #eeffff !default;
$base07: #ffffff !default;
$base08: #f07178 !default;
$base09: #f78c6c !default;
$base0a: #ffcb6b !default;
$base0b: #c3e88d !default;
$base0c: #89ddff !default;
$base0d: #82aaff !default;
$base0e: #c792ea !default;
$base0f: #ff5370 !default;

/*
   Breakpoints
   ========================================================================== */

$small: 600px !default;
$medium: 768px !default;
$medium-wide: 900px !default;
$large: 1024px !default;
$x-large: 1280px !default;
$max-width: $x-large !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow: 200px !default;
$right-sidebar-width: 300px !default;
$right-sidebar-width-wide: 400px !default;

/*
   Other
   ========================================================================== */

$border-radius: 4px !default;
$box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125) !default;
$nav-height: 2em !default;
$nav-toggle-height: 2rem !default;
$navicon-width: 1rem !default;
$navicon-height: 1rem !default;
$global-transition: all 0.2s ease-in-out !default;
$intro-transition: intro 0.3s both !default;
